<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Innovation for people.</h2>
                <hr class="light">
                <p class="text-faded">Our name <b>neu</b>ohm reflects our belief in combining human neurology and electronics to develop innovative products for people.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
