<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">technology that responds to you</h2>
                <hr>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                <p class="text-faded"><b>neu</b>ohm: the fusion of bio-sensing, machine learning and mechanics to make everyday products that respond intelligently to users. </p>
                <p class="text-faded"><b>neu</b>ohm: a belief that products should take action to better the lives of our customers, not just sit idle. </p>
                <p class="text-faded"><b>neu</b>ohm: enhancing the wellbeing of the individual to solve fundamental issues of the many. </p>
            </div>
        </div>
    </div>
</section>
